---
import { Icon } from 'astro-icon';

const {
	label = 'Toggle between Dark and Light mode',
} = Astro.props;
---

<label class="swap swap-rotate">
	<!-- this hidden checkbox controls the state -->
    <input type="checkbox" class="{className}" aria-label={label} data-toggle-theme="dark,light" data-act-class="ACTIVECLASS"/>

	<!-- sun icon -->
	<Icon
		name="tabler:sun"
		class="w-6 h-6 swap-on fill-current text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700"
	/>

	<!-- moon icon -->
	<Icon
		name="tabler:moon"
		class="w-6 h-6 swap-off fill-current text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700"
	/>
</label>
<select data-choose-theme>
	<option value="light">Light</option>
	<option value="dark">Dark</option>
	<option value="cupcake">Cupcake</option>
</select>
<button data-toggle-theme="dark,light" data-act-class="ACTIVECLASS">Dark/Light</button>
<!-- <button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
	<Icon name={iconName} class={iconClass} />
</button> -->
